{% extends 'base.html' %}

{% block title %}Edit TV Show{% endblock %}

{% block content %}
<h2>Edit TV Show</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Form fields are rendered here -->
    <div class="mb-3">
        {{ form.as_p }}
    </div>

    <!-- Custom rendering for photo upload field -->
    <div class="mb-3">
        <label for="{{ form.photo.id_for_label }}" class="form-label">Show Photo</label>
        {% if form.instance.photo %}
            <div class="mb-2">
                <img src="{{ form.instance.photo.url }}" alt="Current Photo" class="img-thumbnail" style="width: 100px;">
            </div>
        {% endif %}
        <input type="file" name="photo" class="form-control" id="{{ form.photo.id_for_label }}">
    </div>
    
    <button type="submit" class="btn btn-primary">Update Show</button>
</form>
{% endblock %}
